$defaultColor:  rgb(214, 207, 196);
.App{
    display:flex;
    justify-content: center;

    //login
    .container{
        width: 1024px;
        .login{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $defaultColor;
            height: 100vh;
        }
        

        .link {
            text-decoration: none;
            color: inherit;
        }
    

        .signup{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $defaultColor;
            height: 100vh
        }

        h1{
            font-size: 20px;
            color: rgb(186, 163, 129);
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding:50px;
            background-color: white;
            width:200px;
            gap: 20px;
        
        input{
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }

        button{
            padding: 10px;
            border: none;
            background-color: rgb(186, 163, 129);
            cursor: pointer;
            color: white;
        }

        span{
            font-size: 12px;
            text-align: center;
        }
        
    }
}
}
